.big-wrap{
    margin: 0px 300px;
}

.header {
    display : flex;
    font-family: 'Pacifico', cursive;
    height: 110px;
    justify-content: center;
}

.title1 {
    background-color: tomato;
    flex-grow:1;
}
.title2 {
    padding : 30px;
    text-align: center;
    flex-grow:2;

}
.weather {
    display: flex;
    margin: 10px;
    float: right;
    justify-content: flex-end;
    flex-grow:1;
    padding-right: 40px;

}

.weather_seoul {
    text-align: center;
    margin: 10px
}

.weather_tokyo {
    text-align: center;
    margin: 10px
}



.carousel-inner {
    width: 90%;
    height: 400px;
    transform:translate(60px, 0px);
}
.carousel-item {
    transform:translate(0px, -100px);
}
.wrap {
    margin: 20px;
    padding : 10px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 5px 0;
}
.filter-left {
    justify-content: flex-start;
    margin: 0px 0px 0px -50px;
}
.btn-group {
    background-color: yellowgreen;
}

.filter-right {
    justify-content: flex-end;
    margin: 0px -10px 0px 0px;

}
.btn-filter {
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.btn-filter:hover {
    opacity: 1
}


.card-list{
    margin: 0px;
    padding : 0px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.card {
    border-radius: 10px;
    width : 300px;
    height : 308px;

    margin : 10px;

}
.tour-card-body {
    padding: 10px;
}
.card-footer {
    padding: 5px 20px 0px 20px;

    vertical-align: middle;
    display: flex;
}
.icon {
    cursor:pointer;
    margin: 0px 10px 0px 0px;
}

.tour-title {
    width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-weight: bold;
}

.footer {
    background-color : lightgray;
    height: 200px;

    padding: 50px 50px 50px 100px;
    font-family: 'Pacifico', cursive;
}