<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 날씨 API -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/133b431d39.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <title>🪂CONNECTED</title>
    <!--    <link href="style.css" rel="stylesheet" type="text/css"/> CSS 파일 분리 시 사용 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Pacifico&display=swap" rel="stylesheet">

    <script>
            $('.carousel').carousel({interval: 2000})
    </script>

    <script>
        $(document).ready(function () {
            getAllList();
        });

        let list = null
        let regex = /[^0-9]/g

        function getAllList() {
            $('.card-list').empty()
            $.ajax({
                type: "GET",
                url: "/allList",
                data: {},
                success: function (response) {
                    list = response['all_list']
                    for (let i = 0; i < list.length; i++) {
                        let title = list[i]['title']
                        let image = list[i]['image']
                        let price = list[i]['price']
                        let like = list[i]['like']

                        list[i]['price'] = price.replace(regex, "")

                        let temp_html = `<div class="card">
                                            <img class="card-img-top" src="${image}" alt="Card image cap">
                                            <div class="tour-card-body">
                                                <h5 class="tour-title">${title}</h5>
                                                <p class="tour-price">${price}원</p>
                                            </div>
                                         </div>`
                        $('.card-list').append(temp_html)
                    }
                }
            })
        }

        function getListByLowPirce() {
            $('.card-list').empty()

            let sortByLowPrice = list.sort(function (a, b) {
                return a.price - b.price; // [2, 4, 11, 33] (오름차순)
            })

            for (let i = 0; i < sortByLowPrice.length; i++) {
                let title = sortByLowPrice[i]['title']
                let image = sortByLowPrice[i]['image']
                let price = sortByLowPrice[i]['price'].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                let like = list[i]['like']

                let temp_html = `<div class="card">
                                    <img class="card-img-top" src="${image}" alt="Card image cap">
                                    <div class="tour-card-body">
                                        <h5 class="tour-title">${title}</h5>
                                        <p class="tour-price">${price}원</p>
                                    </div>
                                 </div>`
                $('.card-list').append(temp_html)
            }
        }

        function getListByHightPirce() {
            $('.card-list').empty()

            let getListByHightPirce = list.sort(function (a, b) {
                return b.price - a.price // (내림차순)
            });

            for (let i = 0; i < getListByHightPirce.length; i++) {
                let title = getListByHightPirce[i]['title']
                let image = getListByHightPirce[i]['image']
                let price = getListByHightPirce[i]['price'].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')

                let temp_html = `<div class="card">
                                    <img class="card-img-top" src="${image}" alt="Card image cap">
                                    <div class="tour-card-body">
                                        <h5 class="tour-title">${title}</h5>
                                        <p class="tour-price">${price}원</p>
                                    </div>
                                 </div>`
                $('.card-list').append(temp_html)
            }
        }
    </script>

    <!-- 날씨 API -->
    <script type="text/javascript">
        $(document).ready(function () {
            let weatherIcon = {
                '01': 'fa-solid fa-sun',
                '02': 'fas fa-cloud-sun',
                '03': 'fas fa-cloud',
                '04': 'fas fa-cloud-meatball',
                '09': 'fas fa-cloud-sun-rain',
                '10': 'fas fa-cloud-showers-heavy',
                '11': 'fas fa-poo-storm',
                '13': 'far fa-snowflake',
                '50': 'fas fa-smog'
            };

            $.ajax({
                url: 'http://api.openweathermap.org/data/2.5/weather?q=SEOUL&appid=f8a889d8ef48d18452e82cbb13717423&units=metric',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    var $Icon = (data.weather[0].icon).substr(0, 2);
                    var $Temp = Math.floor(data.main.temp) + 'º';
                    var $city = data.name;
                    $('.CurrIcon1').append('<i class="' + weatherIcon[$Icon] + '"></i>');
                    $('.CurrTemp1').prepend($Temp);
                    $('.City1').append($city);
                }
            })
            $.ajax({
                url: 'http://api.openweathermap.org/data/2.5/weather?q=TOKYO&appid=f8a889d8ef48d18452e82cbb13717423&units=metric',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    var $Icon = (data.weather[0].icon).substr(0, 2);
                    var $Temp = Math.floor(data.main.temp) + 'º';
                    var $city = data.name;
                    $('.CurrIcon2').append('<i class="' + weatherIcon[$Icon] + '"></i>');
                    $('.CurrTemp2').prepend($Temp);
                    $('.City2').append($city);
                }
            })
        });

        function likePlace(name) {
            $.ajax({
                type: 'POST',
                url: '/api/like',
                data: {place_give: name},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }
    </script>

</head>

<body>
<div class="header">
    <h1 class="title">🪂 CONNECTED</h1>
    <!-- 날씨 API -->
    <div class="weather">
        <div class="weather_seoul">
            <div class="CurrIcon1"></div>
            <div class="CurrTemp1"></div>
            <div class="City1"></div>
        </div>
        <div class="weather_tokyo">
            <div class="CurrIcon2"></div>
            <div class="CurrTemp2"></div>
            <div class="City2"></div>
        </div>
    </div>
</div>


<div id="main-img" class="carousel-slide" data-ride="carousel">
    <div class="carousel-inner">
        <!-- 슬라이드 쇼 -->
        <div class="carousel-item active">
            <!--가로-->
            <img class="d-block w-100"
                 src="https://images2.alphacoders.com/592/thumb-1920-592195.jpg"
                 alt="First slide">
            <!--                <div class="carousel-caption d-none d-md-block">-->
            <!--                    <h5>TEST</h5>-->
            <!--                    <p>testtesttest</p>-->
            <!--                </div>-->
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="https://images.alphacoders.com/674/thumb-1920-674925.png"
                 alt="Second slide"></div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="https://images2.alphacoders.com/546/thumb-1920-546391.jpg"
                 alt="Third slide">
        </div>
        <!-- / 슬라이드 쇼 끝 -->
        <!-- 인디케이터 -->
        <ul class="carousel-indicators">
            <li data-target="#main-img" data-slide-to="0" class="active"></li> <!--0번부터시작-->
            <li data-target="#main-img" data-slide-to="1"></li>
            <li data-target="#main-img" data-slide-to="2"></li>
        </ul> <!-- 인디케이터 끝 --> </div>
</div>


<div class="wrap">
    <div class="filter-bar">
        <ul class="filter-left">

            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    여행할 도시 선택
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">파리</a></li>
                    <li><a class="dropdown-item" href="#">런던</a></li>
                    <li><a class="dropdown-item" href="#">방콕</a></li>
                    <li><a class="dropdown-item" href="#">로마</a></li>
                    <li><a class="dropdown-item" href="#">프라하</a></li>
                    <li><a class="dropdown-item" href="#">바르셀로나</a></li>
                    <li><a class="dropdown-item" href="#">뉴욕</a></li>
                    <li><a class="dropdown-item" href="#">서울</a></li>
                    <li><a class="dropdown-item" href="#">라스베가스</a></li>
                    <li><a class="dropdown-item" href="#">마드리드</a></li>
                    <li><a class="dropdown-item" href="#">멜버른</a></li>
                    <li><a class="dropdown-item" href="#">로스엔젤레스</a></li>
                    <li><a class="dropdown-item" href="#">피렌체</a></li>
                    <li><a class="dropdown-item" href="#">제주도</a></li>
                    <li><a class="dropdown-item" href="#">하와이</a></li>
                    <li><a class="dropdown-item" href="#">발리</a></li>
                    <li><a class="dropdown-item" href="#">비엔나</a></li>
                    <li><a class="dropdown-item" href="#">부다페스트</a></li>
                    <li><a class="dropdown-item" href="#">다낭</a></li>
                    <li><a class="dropdown-item" href="#">베이징</a></li>
                </ul>
            </div>

        </ul>
        <ul class="filter-right">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <button onclick="getListByLike()">좋아요순</button>
                </li>
                <li class="nav-item">
                    <button onclick="getListByLowPirce()">낮은 가격순</button>
                </li>
                <li class="nav-item">
                    <button onclick="getListByHightPirce()">높은 가격순</button>
                </li>
            </ul>
        </ul>
    </div>
    <div class="card-list">
        <div class="card">
        </div>
    </div>
</div>

<div class="footer">
    <h2>🪂CONNECTED</h2>
    <p>Code Travelers</p>
</div>


</body>
</html>


